@use '../../../mixins.scss' as mixins;

td {
  padding-inline: 4px !important;
}

.border-above {
  @include mixins.shadow-above;
  padding-top: 4px;
  padding-bottom: 3px;
}

.par-value-selector {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  .word-for-score-to-par {
    margin-left: 12px;
    white-space: pre-line;
    line-height: normal;
  }
}
