@let _newStrokesUIEnabled = !!appStateService.currentUser()?.newStrokesUI;
@let newUIMenuFeatures = _newStrokesUIEnabled && !imported;
@let oldUIMenuFeatures = !_newStrokesUIEnabled && !imported;
<form>
  @if (coursesToChooseFrom.length) {
    <div class="full-width-center">
      <div
        (click)="
          imported &&
            snackBarService.openTemporarySnackBar(
              SNACKBAR_MESSAGES.IMPORTED_ROUND
            )
        "
      >
        <mat-form-field class="almost-full-width-input">
          <mat-label>Select Course</mat-label>
          <mat-select
            #courseSelect
            [(value)]="editingRound.courseId"
            [disabled]="imported"
            (selectionChange)="updateCurrentCourse($event.value)"
          >
            @for (course of coursesToChooseFrom; track course.id) {
              <mat-option value="{{ course.id }}"
                >{{ course.name }} (Par {{ course | par }})</mat-option
              >
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div
        (click)="
          disableNumberOfHolesPlayed.result &&
            snackBarService.openTemporarySnackBar(
              disableNumberOfHolesPlayed.reason
            )
        "
      >
        <mat-form-field class="almost-full-width-input">
          <mat-label>Select Holes Played</mat-label>
          <mat-select
            [(value)]="editingRound.roundVariety"
            [disabled]="disableNumberOfHolesPlayed.result"
            (selectionChange)="updateRoundVariety($event.value)"
          >
            @if (isNineHoleCourse) {
              @for (variety of NINE_HOLE_ROUND_VARIETIES; track $index) {
                <mat-option value="{{ variety }}">{{
                  variety | roundVariety
                }}</mat-option>
              }
            } @else {
              @for (variety of EIGHTEEN_HOLE_ROUND_VARIETIES; track $index) {
                <mat-option value="{{ variety }}">{{
                  variety | roundVariety
                }}</mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="almost-full-width-input">
        <mat-label>Change Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker3"
          [value]="editingRound.dateStringISO"
          (dateInput)="dateChanged($event)"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker3" />
        <mat-datepicker touchUi #picker3 />
      </mat-form-field>
      <mat-form-field class="almost-full-width-input">
        <mat-label>Add Notes For Your Round</mat-label>
        <textarea
          id="notes-for-round-input"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          #notesForRoundInput
          maxlength="{{ ROUND_NOTES_MAX_LENGTH }}"
          [(ngModel)]="editingRound.generalNotes"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Ex. Nice approach on 3..."
          (change)="updateUnsavedData()"
          (keyup)="updateUnsavedData()"
          (paste)="updateUnsavedData()"
          (input)="updateUnsavedData()"
        >
        </textarea>
        <mat-hint align="end"
          >{{ notesForRoundInput?.value?.length || 0 }} / 1000</mat-hint
        >
      </mat-form-field>
    </div>
  } @else {
    <div class="full-width-center">No golf courses created.</div>
    <div class="full-width-center">
      Please create a course or import a round.
    </div>
    <br />
  }

  <ng-container *ngTemplateOutlet="saveActions" />

  @if (coursesToChooseFrom.length) {
    <table
      mat-table
      multiTemplateDataRows
      [dataSource]="
        editingRound.strokes | roundVarietyScores: editingRound.roundVariety
      "
    >
      <!-- score rows -->
      @for (column of ROUND_TABLE_COLUMNS; track $index) {
        <ng-container [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef class="center-text">
            {{ column.header }}
          </th>
          <td
            mat-cell
            *matCellDef="let row; let rowIndex = dataIndex"
            class="center-text"
          >
            <ng-container
              *ngTemplateOutlet="
                editRoundRow;
                context: {
                  holeIndex:
                    rowIndex +
                    (editingRound.roundVariety === BACK_NINE ? 9 : 0),
                  column: column,
                }
              "
            />
          </td>
          <td
            mat-footer-cell
            *matFooterCellDef
            class="center-text border-top thick-top-border"
          >
            @switch (column.columnDef) {
              @case (HOLE_COL) {
                <b> Total </b>
                @if (currentCourse) {
                  <br />
                  <div>Par {{ currentCourse | par: editingRound }}</div>
                }
              }
              @case (STROKES_COL) {
                <b>
                  {{ editingRound | totalRoundScore }}
                </b>
                @if (currentCourse) {
                  <br />
                  <b> ({{ editingRound | scoreToPar: currentCourse }}) </b>
                }
              }
              @case (PUTTS_COL) {
                <b>
                  {{ editingRound | totalPutts }}
                </b>
              }
            }
          </td>
        </ng-container>
      }

      <!-- summary row -->
      @for (column of ROUND_TABLE_SUMMARY_COLUMN_IDS; track $index) {
        <ng-container [matColumnDef]="column">
          <td
            mat-cell
            *matCellDef="let row; let rowIndex = dataIndex"
            class="center-text thick-bottom-border"
          >
            <ng-container
              *ngTemplateOutlet="
                roundSummaryRow;
                context: {
                  outOrIn:
                    rowIndex === 17 || editingRound.roundVariety === BACK_NINE
                      ? BACK_NINE
                      : FRONT_NINE,
                  columnId: column,
                }
              "
            />
          </td>
        </ng-container>
      }

      <tr
        mat-header-row
        *matHeaderRowDef="ROUND_TABLE_COLUMN_IDS; sticky: true"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          let i = dataIndex;
          columns: ROUND_TABLE_COLUMN_IDS;
          when: returnTrue
        "
        [attr.data-hole-index]="i"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: ROUND_TABLE_SUMMARY_COLUMN_IDS;
          when: showSummaryRow
        "
      ></tr>
      <tr
        mat-footer-row
        *matFooterRowDef="ROUND_TABLE_COLUMN_IDS; sticky: true"
      ></tr>
    </table>

    <br />
    <ng-container *ngTemplateOutlet="saveActions" />
  }
</form>
<br />

<ng-template
  #scoreGraphic
  let-scoreToPar="scoreToPar"
  let-score="score"
  [typedTemplate]="SCORE_GRAPHIC_TYPES"
>
  <div
    class="score-graphic"
    [class]="{
      'double-bogey-or-worse': score && scoreToPar >= 2,
      'bogey-score': score && scoreToPar === 1,
      'birdie-score': score && scoreToPar === -1,
      'eagle-or-better': score && scoreToPar <= -2,
    }"
  >
    {{ score ?? '-' }}
  </div>
</ng-template>

<ng-template
  #editRoundRow
  let-holeIndex="holeIndex"
  let-column="column"
  [typedTemplate]="HOLE_ROW_TYPES"
>
  @switch (column.columnDef) {
    @case (HOLE_COL) {
      <b>{{ holeIndex + 1 }}</b>
      @if (currentCourse?.par?.length) {
        <br />
        Par {{ currentCourse!.par[holeIndex] }}
      }
    }
    @case (STROKES_COL) {
      <div class="hole-par-adjustment">
        @if (oldUIMenuFeatures) {
          <button
            mat-icon-button
            class="plusminus"
            (click)="strokesMinusOne(holeIndex)"
            [disabled]="!editingRound.strokes[holeIndex]"
          >
            <mat-icon>remove</mat-icon>
          </button>
        }
        <div
          class="par-value-box"
          mat-ripple
          [matRippleDisabled]="!newUIMenuFeatures"
          [class.highlighted]="menuOpen() === 'strokes-' + holeIndex + 1"
          [matMenuTriggerFor]="newUIMenuFeatures ? strokesMenu : null"
          (click)="
            newUIMenuFeatures && menuOpen.set('strokes-' + holeIndex + 1)
          "
        >
          @if (currentCourse?.par?.[holeIndex]) {
            <ng-container
              *ngTemplateOutlet="
                scoreGraphic;
                context: {
                  scoreToPar:
                    (editingRound.strokes[holeIndex] || 0) -
                    currentCourse!.par[holeIndex],
                  score: editingRound.strokes[holeIndex],
                }
              "
            />
          } @else {
            {{ editingRound.strokes[holeIndex] ?? '-' }}
          }
        </div>
        <mat-menu
          #strokesMenu
          xPosition="after"
          yPosition="below"
          (closed)="menuOpen.set(''); showHigherStrokeOptions.set(false)"
          stay-open
          [overlapTrigger]="false"
        >
          @for (
            strokes of showHigherStrokeOptions()
              ? [null, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
              : [null, 1, 2, 3, 4, 5, 6, 7];
            track $index
          ) {
            <button
              mat-menu-item
              (click)="setStrokes(holeIndex, strokes)"
              [class.border-above]="$index"
            >
              <div class="par-value-selector">
                <div class="par-value-box">
                  @if (currentCourse?.par?.[holeIndex]) {
                    <ng-container
                      *ngTemplateOutlet="
                        scoreGraphic;
                        context: {
                          scoreToPar:
                            (strokes || 0) - currentCourse!.par[holeIndex],
                          score: strokes,
                        }
                      "
                    />
                  } @else {
                    {{ strokes }}
                  }
                </div>
                @if (currentCourse?.par?.[holeIndex]) {
                  <div class="word-for-score-to-par">
                    {{
                      strokes || 0
                        | wordForScoreToPar: currentCourse!.par[holeIndex]
                    }}
                  </div>
                }
              </div>
            </button>
          }
          @if (!showHigherStrokeOptions()) {
            <button
              class="border-above"
              mat-menu-item
              (click)="
                $event.stopPropagation(); showHigherStrokeOptions.set(true)
              "
            >
              More...
            </button>
          }
        </mat-menu>
        @if (oldUIMenuFeatures) {
          <button
            mat-icon-button
            class="plusminus"
            (click)="strokesPlusOne(holeIndex)"
          >
            <mat-icon>add</mat-icon>
          </button>
        }
      </div>
    }
    @case (PUTTS_COL) {
      <div class="hole-par-adjustment">
        @if (oldUIMenuFeatures) {
          <button
            mat-icon-button
            class="plusminus"
            (click)="puttsMinusOne(holeIndex)"
            [disabled]="editingRound.putts[holeIndex] === null"
          >
            <mat-icon>remove</mat-icon>
          </button>
        }

        <div
          class="par-value-box"
          mat-ripple
          [matRippleDisabled]="!newUIMenuFeatures"
          [class.highlighted]="menuOpen() === 'putts-' + holeIndex + 1"
          [matMenuTriggerFor]="newUIMenuFeatures ? puttsMenu : null"
          (click)="newUIMenuFeatures && menuOpen.set('putts-' + holeIndex + 1)"
        >
          {{ editingRound.putts[holeIndex] ?? '-' }}
        </div>
        <mat-menu
          #puttsMenu
          xPosition="before"
          yPosition="below"
          (closed)="menuOpen.set(''); showHigherStrokeOptions.set(false)"
          stay-open
          [overlapTrigger]="false"
        >
          @for (
            putts of showHigherStrokeOptions()
              ? [null, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
              : [null, 0, 1, 2, 3];
            track $index
          ) {
            <button
              mat-menu-item
              (click)="setPutts(holeIndex, putts)"
              [class.border-above]="$index"
            >
              <div class="par-value-selector">
                <div class="par-value-box">
                  {{ putts ?? '-' }}
                </div>
                <div class="word-for-score-to-par">
                  @switch (putts) {
                    @case (null) {
                      (Empty)
                    }
                    @case (1) {
                      Putt
                    }
                    @default {
                      Putts
                    }
                  }
                </div>
              </div>
            </button>
          }

          @if (!showHigherStrokeOptions()) {
            <button
              class="border-above"
              mat-menu-item
              (click)="
                $event.stopPropagation(); showHigherStrokeOptions.set(true)
              "
            >
              More...
            </button>
          }
        </mat-menu>
        @if (oldUIMenuFeatures) {
          <button
            mat-icon-button
            class="plusminus"
            (click)="puttsPlusOne(holeIndex)"
          >
            <mat-icon>add</mat-icon>
          </button>
        }
      </div>
    }
  }
</ng-template>

<ng-template
  #roundSummaryRow
  let-outOrIn="outOrIn"
  let-columnId="columnId"
  [typedTemplate]="SUMMARY_ROW_TYPES"
>
  @switch (columnId) {
    @case (HOLE_SUMMARY_COL) {
      @if (outOrIn === FRONT_NINE) {
        Out
      } @else {
        In
      }
      @if (currentCourse) {
        <br />
        <div>
          Par
          {{ currentCourse | par: editingRound : outOrIn }}
        </div>
      }
    }
    @case (STROKES_SUMMARY_COL) {
      {{ editingRound | totalRoundScore: outOrIn }}
      @if (currentCourse) {
        <br />
        ({{ editingRound | scoreToPar: currentCourse : outOrIn }})
      }
    }
    @case (PUTTS_SUMMARY_COL) {
      {{ editingRound | totalPutts: outOrIn }}
    }
  }
</ng-template>

<ng-template #saveActions>
  <div class="full-width-center space-evenly padding-bottom-8">
    @if (roundIdToEdit) {
      <button mat-stroked-button (click)="deleteRound()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    } @else if (!imported) {
      <button mat-stroked-button (click)="fileInput.click()">
        <mat-icon>input</mat-icon>
        Import Round
      </button>
      <input
        hidden
        (change)="onFileSelected(fileInput)"
        #fileInput
        type="file"
        id="file"
        accept="application/json"
      />
    }
    @if (coursesToChooseFrom.length) {
      <div
        (click)="
          disableSaveButton.result &&
            snackBarService.openTemporarySnackBar(disableSaveButton.reason)
        "
      >
        <button
          matButton="filled"
          (click)="saveRound()"
          [disabled]="disableSaveButton.result"
        >
          <mat-icon>
            @if (roundIdToEdit && !imported) {
              save_as
            } @else {
              save
            }
          </mat-icon>
          @if (roundIdToEdit && !imported) {
            Update
          } @else {
            Save
          }
        </button>
      </div>
    } @else {
      <button mat-stroked-button (click)="addNewCourse()">
        <mat-icon>add</mat-icon>
        @if (!appStateService.useSmallerButtons()) {
          New
        }
        Course
      </button>
    }
  </div>
  @if (roundIdToEdit && !imported) {
    <div class="full-width-center space-evenly">
      <button mat-stroked-button (click)="shareRound()">
        <mat-icon>ios_share</mat-icon>
        Share
      </button>
    </div>
  }
</ng-template>
