<form>
  <div class="full-width-center">
    <mat-form-field class="almost-full-width-input">
      <mat-label>Select Course</mat-label>
      <mat-select
        [(value)]="editingRound.courseId"
        (selectionChange)="updateCurrentCourse($event.value)"
      >
        @for (course of coursesToChooseFrom; track $index) {
          <mat-option value="{{ course.id }}"
            >{{ course.name }} (Par {{ course | par }})</mat-option
          >
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="almost-full-width-input">
      <mat-label>Select Holes Played</mat-label>
      <mat-select
        [(value)]="editingRound.roundVariety"
        (selectionChange)="updateRoundVariety($event.value)"
      >
        @for (variety of ROUND_VARIETIES; track $index) {
          <mat-option value="{{ variety }}">{{
            variety | roundVariety
          }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="almost-full-width-input">
      <mat-label>Change Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker3"
        [value]="editingRound.dateStringISO"
        (dateInput)="dateChanged($event)"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker3"
      ></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker3></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="almost-full-width-input">
      <mat-label>Add Notes For Your Round</mat-label>
      <textarea
        matInput
        autosize
        [minRows]="1"
        #notes
        maxlength="1000"
        [(ngModel)]="editingRound.generalNotes"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Ex. Nice approach on 3..."
      >
      </textarea>
      <mat-hint align="end">{{ notes?.value?.length || 0 }} / 1000</mat-hint>
    </mat-form-field>
  </div>

  <ng-container *ngTemplateOutlet="saveActions"></ng-container>

  <table
    mat-table
    multiTemplateDataRows
    [dataSource]="
      editingRound.strokes | roundVarietyScores: editingRound.roundVariety
    "
  >
    <!-- score rows -->
    @for (column of ROUND_TABLE_COLUMNS; track $index) {
      <ng-container [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef class="center-text">
          {{ column.header }}
        </th>
        <td
          mat-cell
          *matCellDef="let row; let rowIndex = dataIndex"
          class="center-text"
        >
          <ng-container
            *ngTemplateOutlet="
              editRoundRow;
              context: {
                holeIndex:
                  rowIndex + (editingRound.roundVariety === BACK_NINE ? 9 : 0),
                column: column,
              }
            "
          ></ng-container>
        </td>
        <td
          mat-footer-cell
          *matFooterCellDef
          class="center-text border-top thick-top-border"
        >
          @switch (column.columnDef) {
            @case (HOLE_COL) {
              <b> Total </b>
              @if (currentCourse) {
                <br />
                <div>Par {{ currentCourse | par: editingRound }}</div>
              }
            }
            @case (STROKES_COL) {
              <b>
                {{ editingRound | totalRoundScore }}
              </b>
              @if (currentCourse) {
                <br />
                <b> ({{ editingRound | scoreToPar: currentCourse }}) </b>
              }
            }
            @case (PUTTS_COL) {
              <b>
                {{ editingRound | totalPutts }}
              </b>
            }
          }
        </td>
      </ng-container>
    }

    <!-- summary row -->
    @for (column of ROUND_TABLE_SUMMARY_COLUMN_IDS; track $index) {
      <ng-container [matColumnDef]="column">
        <td
          mat-cell
          *matCellDef="let row; let rowIndex = dataIndex"
          class="center-text thick-bottom-border"
        >
          <ng-container
            *ngTemplateOutlet="
              roundSummaryRow;
              context: {
                outOrIn:
                  rowIndex === 17 || editingRound.roundVariety === BACK_NINE
                    ? BACK_NINE
                    : FRONT_NINE,
                columnId: column,
              }
            "
          ></ng-container>
        </td>
      </ng-container>
    }

    <tr
      mat-header-row
      *matHeaderRowDef="ROUND_TABLE_COLUMN_IDS; sticky: true"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ROUND_TABLE_COLUMN_IDS; when: returnTrue"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: ROUND_TABLE_SUMMARY_COLUMN_IDS;
        when: showSummaryRow
      "
    ></tr>
    <tr
      mat-footer-row
      *matFooterRowDef="ROUND_TABLE_COLUMN_IDS; sticky: true"
    ></tr>
  </table>

  <br />
  <ng-container *ngTemplateOutlet="saveActions"></ng-container>
</form>
<br />

<ng-template
  #scoreGraphic
  let-scoreToPar="scoreToPar"
  let-score="score"
  [typedTemplate]="SCORE_GRAPHIC_TYPES"
>
  <div
    class="score-graphic"
    [ngClass]="{
      'double-bogey-or-worse': score && scoreToPar >= 2,
      'bogey-score': score && scoreToPar === 1,
      'birdie-score': score && scoreToPar === -1,
      'eagle-or-better': score && scoreToPar <= -2,
    }"
  >
    {{ score }}
  </div>
</ng-template>

<ng-template
  #editRoundRow
  let-holeIndex="holeIndex"
  let-column="column"
  [typedTemplate]="HOLE_ROW_TYPES"
>
  @switch (column.columnDef) {
    @case (HOLE_COL) {
      <b>{{ holeIndex + 1 }}</b>
      @if (currentCourse?.par?.length) {
        <br />
        Par {{ currentCourse!.par[holeIndex] }}
      }
    }
    @case (STROKES_COL) {
      <div class="hole-par-adjustment">
        <button
          mat-icon-button
          class="plusminus"
          (click)="strokesMinusOne(holeIndex)"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <div class="par-value-box">
          @if (currentCourse?.par?.[holeIndex]) {
            <ng-container
              *ngTemplateOutlet="
                scoreGraphic;
                context: {
                  scoreToPar:
                    editingRound.strokes[holeIndex] -
                    currentCourse!.par[holeIndex],
                  score: editingRound.strokes[holeIndex],
                }
              "
            ></ng-container>
          } @else {
            {{ editingRound.strokes[holeIndex] }}
          }
        </div>
        <button
          mat-icon-button
          class="plusminus"
          (click)="strokesPlusOne(holeIndex)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    }
    @case (PUTTS_COL) {
      <div class="hole-par-adjustment">
        <button
          mat-icon-button
          class="plusminus"
          (click)="puttsMinusOne(holeIndex)"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <div class="par-value-box">
          {{ editingRound.putts[holeIndex] }}
        </div>
        <button
          mat-icon-button
          class="plusminus"
          (click)="puttsPlusOne(holeIndex)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    }
  }
</ng-template>

<ng-template
  #roundSummaryRow
  let-outOrIn="outOrIn"
  let-columnId="columnId"
  [typedTemplate]="SUMMARY_ROW_TYPES"
>
  @switch (columnId) {
    @case (HOLE_SUMMARY_COL) {
      @if (outOrIn === FRONT_NINE) {
        Out
      } @else {
        In
      }
      @if (currentCourse) {
        <br />
        <div>
          Par
          {{ currentCourse | par: editingRound : outOrIn }}
        </div>
      }
    }
    @case (STROKES_SUMMARY_COL) {
      {{ editingRound | totalRoundScore: outOrIn }}
      @if (currentCourse) {
        <br />
        ({{ editingRound | scoreToPar: currentCourse : outOrIn }})
      }
    }
    @case (PUTTS_SUMMARY_COL) {
      {{ editingRound | totalPutts: outOrIn }}
    }
  }
</ng-template>

<ng-template #saveActions>
  <div class="full-width-center space-evenly">
    @if (roundIdToEdit) {
      <button mat-stroked-button (click)="deleteRound()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    }
    <button
      mat-stroked-button
      (click)="saveRound()"
      [disabled]="disableSaveButton"
    >
      <mat-icon>
        @if (roundIdToEdit) {
          save_as
        } @else {
          save
        }
      </mat-icon>
      @if (roundIdToEdit) {
        Update
      } @else {
        Save
      }
    </button>
  </div>
</ng-template>
