<span class="stat-cards-wrapper">
  @if (homePageMode()) {
    <div class="full-width-center space-evenly padding-inline-4">
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub>
            <ng-container *ngTemplateOutlet="averageLabel" />
            <b>9</b> Holes
          </sub>
          <br />
          <sup>
            @if (
              filteredRounds() | countValidRoundsToAverage: 9;
              as nineCount
            ) {
              @if (nineCount === 1) {
                (<b>1</b> Nine)
              } @else {
                (<b>{{ nineCount }}</b> Nines)
              }
            } @else {
              Unfinished
            }
          </sup>
          <h3 class="average-result">
            {{ filteredRounds() | averageScore: 9 }} ({{
              filteredRounds() | averageScoreToPar: courseMap() : 9
            }})
          </h3>
        </mat-card-content>
        @if (holeResultTotals().completedNinesInAllRounds) {
          <ng-container
            *ngTemplateOutlet="
              trendGraphButton;
              context: {
                which: 'score-to-par-all',
              }
            "
          />
        }
      </mat-card>
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub>
            <ng-container *ngTemplateOutlet="averageLabel" />
            <b>18</b> Holes
          </sub>
          <br />
          <sup>
            @if (
              (filteredRounds() | countValidRoundsToAverage: 18) / 2;
              as eighteenCount
            ) {
              @if (eighteenCount === 1) {
                (<b>1</b> Full Round)
              } @else {
                (<b>{{ eighteenCount }}</b> Full Rounds)
              }
            } @else {
              No Full Rounds
            }
          </sup>
          <h3 class="average-result">
            {{ filteredRounds() | averageScore: 18 }} ({{
              filteredRounds() | averageScoreToPar: courseMap() : 18
            }})
          </h3>
        </mat-card-content>
        @if (holeResultTotals().completed18HoleRounds) {
          <ng-container
            *ngTemplateOutlet="
              trendGraphButton;
              context: {
                which: 'score-to-par-18',
              }
            "
          />
        }
      </mat-card>
    </div>
    <br />
    <div class="full-width-center space-evenly padding-inline-4">
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub>
            <ng-container *ngTemplateOutlet="averageLabel" />
            Putts
          </sub>
          <br />
          <sup> Per 9 Holes </sup>
          <h3 class="average-result">
            @if (holeResultTotals().holesPlayedWithPutts) {
              {{
                GRAPH_VARIETIES['putts-all'].yValueExtractor(
                  holeResultTotals()
                ) ?? 0 | number: '1.1-1'
              }}
            } @else {
              --
            }
          </h3>
        </mat-card-content>
        @if (
          holeResultTotals().holesPlayedWithPutts &&
          holeResultTotals().completedNinesInAllRounds
        ) {
          <ng-container
            *ngTemplateOutlet="
              trendGraphButton;
              context: {
                which: 'putts-all',
              }
            "
          />
        }
      </mat-card>
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub>
            <ng-container *ngTemplateOutlet="averageLabel" />
            Putts
          </sub>
          <br />
          <sup> Full Rounds </sup>
          <h3 class="average-result">
            @if (holeResultTotals().holesPlayedWithPuttsInFullRounds) {
              {{
                GRAPH_VARIETIES['putts-18'].yValueExtractor(
                  holeResultTotals()
                ) ?? 0 | number: '1.1-1'
              }}
            } @else {
              --
            }
          </h3>
        </mat-card-content>
        @if (
          holeResultTotals().holesPlayedWithPuttsInFullRounds &&
          holeResultTotals().completed18HoleRounds
        ) {
          <ng-container
            *ngTemplateOutlet="
              trendGraphButton;
              context: {
                which: 'putts-18',
              }
            "
          />
        }
      </mat-card>
    </div>

    <mat-divider class="divider-padding" />

    <div class="full-width-center space-evenly padding-inline-4">
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub> Holes Played </sub>
          <h3>{{ holeResultTotals().holesPlayed }}</h3>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub> Strokes Taken </sub>
          <h3>
            {{ holeResultTotals().totalStrokesInAllCompletedRounds }}
          </h3>
        </mat-card-content>
      </mat-card>
    </div>
    <br />
    <div class="full-width-center space-evenly padding-inline-4">
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub> Eagles or Better </sub>
          <h3>
            {{ holeResultTotals().eaglesOrBetter }}
          </h3>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub> Birdies </sub>
          <h3>{{ holeResultTotals().birdies }}</h3>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub> Pars </sub>
          <h3>{{ holeResultTotals().pars }}</h3>
        </mat-card-content>
      </mat-card>
    </div>
    <br />
    <div class="full-width-center space-evenly padding-inline-4">
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub> Bogeys </sub>
          <h3>{{ holeResultTotals().bogeys }}</h3>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub> Doubles </sub>
          <h3>{{ holeResultTotals().doubleBogeys }}</h3>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub> Triples or Worse </sub>
          <h3>
            {{ holeResultTotals().tripleBogeysOrWorse }}
          </h3>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-divider class="divider-padding" />
  }

  <div
    class="full-width-center space-evenly padding-inline-4 padding-bottom-12"
  >
    <sub> Holes With Putting: </sub>
  </div>
  <div class="full-width-center space-evenly padding-inline-4">
    <mat-card appearance="outlined" class="center-text">
      <mat-card-title />
      <mat-card-content class="padding-inline-8">
        <sub> <b>0</b> Putts </sub>
        <h3>{{ holeResultTotals().zeroPuttHoles }}</h3>
      </mat-card-content>
      @if (homePageMode() && holeResultTotals().holesPlayedWithPutts) {
        <ng-container
          *ngTemplateOutlet="
            trendGraphButton;
            context: {
              which: 'zero-putt-holes',
            }
          "
        />
      }
    </mat-card>
    <mat-card appearance="outlined" class="center-text">
      <mat-card-title />
      <mat-card-content class="padding-inline-8">
        <sub> <b>1</b> Putt </sub>
        <h3>
          {{ holeResultTotals().onePuttHoles }}
        </h3>
      </mat-card-content>
      @if (homePageMode() && holeResultTotals().holesPlayedWithPutts) {
        <ng-container
          *ngTemplateOutlet="
            trendGraphButton;
            context: {
              which: 'one-putt-holes',
            }
          "
        />
      }
    </mat-card>
  </div>
  <br />
  <div class="full-width-center space-evenly padding-inline-4">
    <mat-card appearance="outlined" class="center-text">
      <mat-card-title />
      <mat-card-content class="padding-inline-8">
        <sub> <b>2</b> Putts </sub>
        <h3>
          {{ holeResultTotals().twoPuttHoles }}
        </h3>
      </mat-card-content>
      @if (homePageMode() && holeResultTotals().holesPlayedWithPutts) {
        <ng-container
          *ngTemplateOutlet="
            trendGraphButton;
            context: {
              which: 'two-putt-holes',
            }
          "
        />
      }
    </mat-card>
    <mat-card appearance="outlined" class="center-text">
      <mat-card-title />
      <mat-card-content class="padding-inline-8">
        <sub> <b>3+</b> Putts </sub>
        <h3>{{ holeResultTotals().threePlusPuttHoles }}</h3>
      </mat-card-content>
      @if (homePageMode() && holeResultTotals().holesPlayedWithPutts) {
        <ng-container
          *ngTemplateOutlet="
            trendGraphButton;
            context: {
              which: 'three-plus-putt-holes',
            }
          "
        />
      }
    </mat-card>
  </div>

  @if (homePageMode()) {
    <mat-divider class="divider-padding" />

    <div
      class="full-width-center space-evenly padding-inline-4 padding-bottom-12"
    >
      <sub> Average Strokes On: </sub>
    </div>
    <div class="full-width-center space-evenly padding-inline-4">
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub> Par <b>3</b>s </sub>
          <h3>
            @if (holeResultTotals().par3sPlayed) {
              {{
                GRAPH_VARIETIES['score-on-par-3s'].yValueExtractor(
                  holeResultTotals()
                ) ?? 0 | number: '1.2-2'
              }}
            } @else {
              --
            }
          </h3>
        </mat-card-content>
        @if (holeResultTotals().par3sPlayed) {
          <ng-container
            *ngTemplateOutlet="
              trendGraphButton;
              context: {
                which: 'score-on-par-3s',
              }
            "
          />
        }
      </mat-card>
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub> Par <b>4</b>s </sub>
          <h3>
            @if (holeResultTotals().par4sPlayed) {
              {{
                GRAPH_VARIETIES['score-on-par-4s'].yValueExtractor(
                  holeResultTotals()
                ) ?? 0 | number: '1.2-2'
              }}
            } @else {
              --
            }
          </h3>
        </mat-card-content>
        @if (holeResultTotals().par4sPlayed) {
          <ng-container
            *ngTemplateOutlet="
              trendGraphButton;
              context: {
                which: 'score-on-par-4s',
              }
            "
          />
        }
      </mat-card>
    </div>
    <br />
    <div class="full-width-center space-evenly padding-inline-4">
      <mat-card appearance="outlined" class="center-text">
        <mat-card-title />
        <mat-card-content class="padding-inline-8">
          <sub> Par <b>5</b>s </sub>
          <h3>
            @if (holeResultTotals().par5sPlayed) {
              {{
                GRAPH_VARIETIES['score-on-par-5s'].yValueExtractor(
                  holeResultTotals()
                ) ?? 0 | number: '1.2-2'
              }}
            } @else {
              --
            }
          </h3>
        </mat-card-content>
        @if (holeResultTotals().par5sPlayed) {
          <ng-container
            *ngTemplateOutlet="
              trendGraphButton;
              context: {
                which: 'score-on-par-5s',
              }
            "
          />
        }
      </mat-card>
    </div>

    <mat-divider class="divider-padding" />
  } @else {
    <br />
  }

  <div class="full-width-center space-evenly padding-inline-4">
    <mat-card appearance="outlined" class="center-text">
      <mat-card-title />
      <mat-card-content class="padding-inline-8">
        <sub> Greens in </sub>
        <br />
        <sup> Regulation </sup>
        <h3>
          @if (holeResultTotals().holesPlayedWithPutts) {
            {{
              100 *
                (GRAPH_VARIETIES['greens-in-regulation'].yValueExtractor(
                  holeResultTotals()
                ) ?? 0) | number: '1.0-0'
            }}%
            <br />
            ({{ holeResultTotals().inferredGreensInRegulation }}
            /
            {{ holeResultTotals().holesPlayedWithPutts }})
          } @else {
            --
          }
        </h3>
      </mat-card-content>
      @if (homePageMode() && holeResultTotals().holesPlayedWithPutts) {
        <ng-container
          *ngTemplateOutlet="
            trendGraphButton;
            context: {
              which: 'greens-in-regulation',
            }
          "
        />
      }
    </mat-card>
    <mat-card appearance="outlined" class="center-text">
      <mat-card-title />
      <mat-card-content class="padding-inline-8">
        <sub> Scrambling </sub>
        <br />
        <sup> Success </sup>
        <h3>
          @if (holeResultTotals().inferredHolesScramblingNeeded) {
            {{
              100 *
                (GRAPH_VARIETIES['scrambling-success'].yValueExtractor(
                  holeResultTotals()
                ) ?? 0) | number: '1.0-0'
            }}%
            <br />
            ({{ holeResultTotals().inferredHolesScramblingSuccessfully }}
            /
            {{ holeResultTotals().inferredHolesScramblingNeeded }})
          } @else {
            --
          }
        </h3>
      </mat-card-content>
      @if (homePageMode() && holeResultTotals().inferredHolesScramblingNeeded) {
        <ng-container
          *ngTemplateOutlet="
            trendGraphButton;
            context: {
              which: 'scrambling-success',
            }
          "
        />
      }
    </mat-card>
  </div>
</span>

<ng-template
  #trendGraphButton
  [typedTemplate]="TREND_GRAPH_PARAMS"
  let-which="which"
>
  <mat-card-footer class="show-trend">
    <button mat-stroked-button (click)="openTrendGraphDialog(which)">
      <mat-icon>timeline</mat-icon>
      Trend
    </button>
  </mat-card-footer>
</ng-template>

<ng-template #averageLabel>
  @if (appStateService.useSmallerButtons()) {
    Avg.
  } @else {
    Average
  }
</ng-template>
