.about-this-app {
  padding: 1.5rem;
  h2 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  a {
    color: #4d9ff1;
    transition: 0.25s;
    &:hover {
      color: #1565c0;
    }
  }
}
