<div class="about-this-app">
  <mat-card appearance="outlined" class="full-width-center">
    <mat-card-header>
      <mat-card-title> App Info </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This project was created by <b>Marshall Shriner</b>.</p>
      <p>
        <strong>App Data:</strong> All app data is stored locally on your
        device. Except when checking for feature updates, no network connection
        is necessary to use this app.
      </p>
      <p>
        <strong>Privacy:</strong> This app is hosted on DigitalOcean. For more
        information, see the
        <a
          href="https://www.digitalocean.com/legal/privacy-policy"
          target="_blank"
          rel="noopener noreferrer"
        >
          DigitalOcean Privacy Policy</a
        >.
      </p>
      <p>
        <strong>Sources:</strong> View the code for this app
        <a
          href="https://github.com/mshriner/scorecard"
          target="_blank"
          rel="noopener noreferrer"
        >
          on GitHub</a
        >.
      </p>
    </mat-card-content>
  </mat-card>

  <br />
  <mat-divider />
  <br />

  <mat-card id="changelog" appearance="outlined" class="full-width-center">
    <mat-card-header>
      <mat-card-title> Change Log </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>7/13/2026</p>
        <ul>
          <li>
            Added statistics counting holes with
            <b>0 putts, 1 putt, 2 putts, and 3+ putts</b>. These are also
            visible when viewing individual rounds.
          </li>
        </ul>
      </div>
      <div>
        <p>7/10/2026</p>
        <ul>
          <li>
            Added the ability to see a few
            <b>stats while viewing individual rounds</b>. After logging putts,
            Greens in Regulation and Scrambling Success will show at the bottom
            of the "View/Edit Round" page
          </li>
          <li>
            Adjusted some behavior for sorting in-progress rounds on the
            "Results" page
          </li>
        </ul>
      </div>
      <div>
        <p>6/28/2026</p>
        <ul>
          <li>
            Split the "doubles or worse" statistic into "double bogeys" and
            "triples or worse"
          </li>
          <li>
            Added precision to average strokes on par 3s, par 4s, and par 5s
          </li>
        </ul>
      </div>
      <div>
        <p>6/12/2026</p>
        <ul>
          <li>
            When adding a new golf course, you can now <b>search</b> for it
            using an internet connection. This is powered by
            <a
              href="https://golfcourseapi.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              GolfCourseAPI</a
            >, so thank you to them for making this API free and accessible!
            <ul>
              <li>
                The <b>new search workflow</b> will pull up a short step-by-step
                process to find the course you are thinking of.
              </li>
            </ul>
          </li>
          <li>
            Adjusted labels and spacing on the performance graphs, reducing
            instances where graph labels were being cut off.
          </li>
          <li>
            Accessibility: Throughout most of the app, clicking on a grayed-out
            / disabled button will now show a hint on why the button is disabled
          </li>
          <li>
            Bugfix: Users lost the ability to enter a newline in the "Notes For
            Your Round" section. This is resolved.
          </li>
          <li>
            Upgraded underlying libraries for bug fixes and performance
            improvements
          </li>
        </ul>
      </div>
      <div>
        <p>5/3/2026</p>
        <ul>
          <li>
            Upgraded to a more modern technique for storing app data locally,
            eliminating space constraint concerns
          </li>
          <li>
            Upgraded underlying libraries for bug fixes and performance
            improvements
          </li>
        </ul>
      </div>
      <div>
        <p>4/11/2026</p>
        <ul>
          <li>
            Fixed a bug when importing the same user profile a second time,
            causing entanglement
          </li>
          <li>
            Fixed a bug when importing a round at a new course, causing the form
            to misbehave
          </li>
        </ul>
      </div>
      <div>
        <p>4/3/2026</p>
        <ul>
          <li>
            Simplified the checks this app performs for whether you have it
            installed on your device in the preferred way
          </li>
          <li>
            Upgraded underlying libraries for bug fixes and performance
            improvements
          </li>
        </ul>
      </div>
      <div>
        <p>1/20/2026</p>
        <ul>
          <li>
            You can now change your profile name in the navigation menu, without
            needing to log out to the "Profiles" page
          </li>
        </ul>
      </div>
      <div>
        <p>12/1/2025</p>
        <ul>
          <li>
            Upgraded underlying libraries for bug fixes and performance
            improvements
          </li>
        </ul>
      </div>
      <div>
        <p>11/11/2025</p>
        <ul>
          <li>
            Added stat for <b>total strokes taken</b> across all rounds that
            satisfy your filter criteria
          </li>
          <li>
            When deleting a course, a dialog will warn if there are any rounds
            that will be deleted as a result
          </li>
          <li>
            Bug fixes and enhancements to navigation and snackbar messages
          </li>
        </ul>
      </div>
      <div>
        <p>11/2/2025</p>
        <ul>
          <li>
            Enhancements to performance trend graphs:
            <ul>
              <li>
                Trends are available on more statistics:
                <ul>
                  <li>Avg. score</li>
                  <li>Avg. putts</li>
                  <li>Avg. strokes on par 3s, 4s, and 5s</li>
                </ul>
              </li>
              <li>
                Added a togglable <b>regression line</b> to better show the
                trend in your performance for each stat
              </li>
            </ul>
          </li>
          <li>
            When you import a round played on a course that matches any already
            saved to your profile, a new popup will ask if you want to use an
            already saved course.
          </li>
        </ul>
      </div>
      <div>
        <p>10/8/2025</p>
        <ul>
          <li>
            You can now share an entire user profile (including courses and
            rounds) to another device, on the "Switch Profile" page
          </li>
          <li>
            You can now import a user profile (including courses and rounds)
            from another device, also on the "Switch Profile" page
          </li>
        </ul>
      </div>
      <div>
        <p>10/7/2025</p>
        <ul>
          <li>
            Added some enhancements to the performance graphs:
            <ul>
              <li>
                Made it more apparent which stats you can view in a graph (click
                on the "Trend" button below a stat)
              </li>
              <li>
                On the graph view, you can click on a data point for a round to
                view the results of that round
                <ul>
                  <li>
                    Increased the size of the data points slightly to help with
                    touch targets
                  </li>
                </ul>
              </li>
              <li>
                On the graph view, added the option to
                <b>space rounds evenly</b> vs. <b>space rounds by date</b>. The
                latter can result in data points getting bunched together if
                your timeframe is too large
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div>
        <p>9/29/2025</p>
        <ul>
          <li>
            In the "Stats" section, added the ability to see a
            <b>graph of performance trends</b> over time for certain statistics.
            As of this release, you can view trends for the following:
            <ul>
              <li>Greens in Regulation</li>
              <li>Scrambling Success</li>
            </ul>
            To open up the graph, click on the corresponding statistic
          </li>
        </ul>
      </div>
      <div>
        <p>9/20/2025</p>
        <ul>
          <li>
            On the "Edit Round" page, implemented a
            <b>new strokes and putts interface</b>, replacing the (+) and (-)
            buttons with a pop-up menu:
            <ul>
              <li>
                Click on the cell you want to edit -- a menu will pop up with
                common options
              </li>
              <li>
                If you needed more strokes to finish the hole, hit the "More..."
                option, which will expand the menu
              </li>
            </ul>
            You can activate this new experience when editing a round by
            clicking the

            <span class="no-wrap">
              <mat-icon>settings</mat-icon> Settings
            </span>
            icon in the top bar and turning on the "New strokes input UI"
          </li>
          <li>
            Fixed an issue with recording putts (in the old interface) where you
            would need to hit the (+) button and then the (-) button to log a
            hole with zero putts
          </li>
          <li>
            This app will now follow the general settings on your device for
            whether to display in light mode or dark mode. You can force the app
            into light mode or dark mode using the option in the side menu.
            Please let me know if anything looks off or could be improved!
          </li>
        </ul>
      </div>
      <div>
        <p>8/7/2025</p>
        <ul>
          <li>
            Added inferred stats:
            <ul>
              <li>
                <b>Greens in Regulation (GIR):</b> Reached the green in time to
                two-putt for par
              </li>
              <li>
                <b>Scrambling Success:</b> Par or better after missing GIR
              </li>
            </ul>
            (Based only on strokes and putts; unusual cases like putting off the
            green are not included)
          </li>
        </ul>
      </div>
      <div>
        <p>7/27/2025</p>
        <ul>
          <li>
            You can now view your theoretical best round for each course in the
            Stats section
          </li>
        </ul>
      </div>
      <div>
        <p>7/13/2025</p>
        <ul>
          <li>Added instructions to install this app on a device</li>
        </ul>
      </div>
      <div>
        <p>6/29/2025</p>
        <ul>
          <li>Added an "About This App" page</li>
        </ul>
      </div>
      <div>
        <p>6/25/2025</p>
        <ul>
          <li>Added support for 9-hole courses</li>
          <li>Show stats for average score on Par 3s, 4s and 5s</li>
        </ul>
      </div>
      <div>
        <p>5/9/2025</p>
        <ul>
          <li>You can now share a round with another user</li>
          <li>
            You can view and save a round that another user has sent to you
          </li>
        </ul>
      </div>
      <div>
        <p>3/2/2025</p>
        <ul>
          <li>You can now share a course with another user</li>
          <li>
            You can view and save a course that another user has sent to you
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>

  <br />
</div>
