<div class="about-this-app">
  <mat-card appearance="outlined" class="full-width-center">
    <mat-card-header>
      <mat-card-title> App Info </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This project was created by <b>Marshall Shriner</b>.</p>
      <p>
        <strong>App Data:</strong> All app data is stored locally on your
        device. Except when checking for feature updates, no network connection
        is necessary to use this app.
      </p>
      <p>
        <strong>Privacy:</strong> This app is hosted on DigitalOcean. For more
        information, see the
        <a
          href="https://www.digitalocean.com/legal/privacy-policy"
          target="_blank"
          rel="noopener noreferrer"
        >
          DigitalOcean Privacy Policy</a
        >.
      </p>
      <p>
        <strong>Sources:</strong> View the code for this app
        <a
          href="https://github.com/mshriner/scorecard"
          target="_blank"
          rel="noopener noreferrer"
        >
          on GitHub</a
        >.
      </p>
    </mat-card-content>
  </mat-card>

  <br />
  <mat-divider></mat-divider>
  <br />

  <mat-card id="changelog" appearance="outlined" class="full-width-center">
    <mat-card-header>
      <mat-card-title> Change Log </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>9/20/2025</p>
        <ul>
          <li>
            On the "Edit Round" page, implemented a
            <b>new strokes and putts interface</b>, replacing the (+) and (-)
            buttons with a menu:
            <ul>
              <li>
                Click on the cell you want to edit -- a menu will pop up with
                common options
              </li>
              <li>
                If you needed more strokes to finish the hole, hit the "More..."
                option, which will expand the menu
              </li>
            </ul>
            Activate this new experience by clicking the
            <mat-icon>settings</mat-icon> Settings icon and turning on the "New
            strokes input UI"
          </li>
          <li>
            Fixed an issue with recording putts (in the old interface) where you
            would need to hit the (+) button and then the (-) button to log a
            hole with zero putts
          </li>
          <li>
            This app will now follow the general settings on your device for
            whether to display in light mode or dark mode. Please let me know if
            anything looks off or could be improved!
          </li>
        </ul>
      </div>
      <div>
        <p>8/7/2025</p>
        <ul>
          <li>
            Added inferred stats:
            <ul>
              <li>
                <b>Greens in Regulation (GIR):</b> Reached the green in time to
                two-putt for par
              </li>
              <li>
                <b>Scrambling Success:</b> Par or better after missing GIR
              </li>
            </ul>
            (Based only on strokes and putts; unusual cases like putting off the
            green are not included)
          </li>
        </ul>
      </div>
      <div>
        <p>7/27/2025</p>
        <ul>
          <li>
            You can now view your theoretical best round for each course in the
            Stats section
          </li>
        </ul>
      </div>
      <div>
        <p>7/13/2025</p>
        <ul>
          <li>Added instructions to install this app on a device</li>
        </ul>
      </div>
      <div>
        <p>6/29/2025</p>
        <ul>
          <li>Added "About This App" page</li>
        </ul>
      </div>
      <div>
        <p>6/25/2025</p>
        <ul>
          <li>Added support for 9-hole courses</li>
          <li>Show stats for average score on Par 3s, 4s and 5s</li>
        </ul>
      </div>
      <div>
        <p>5/9/2025</p>
        <ul>
          <li>You can now share a round with another user</li>
          <li>You can view a round that another user has sent to you</li>
        </ul>
      </div>
      <div>
        <p>3/2/2025</p>
        <ul>
          <li>You can now share a course with another user</li>
          <li>You can view a course that another user has sent to you</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>

  <br />
</div>
