<div class="about-this-app">
  <p>This project was created by <strong>Marshall Shriner</strong>.</p>
  <p>
    <strong>App Data:</strong> All app data is stored locally on your device.
    Except when checking for feature updates, no network connection is necessary
    to use this app.
  </p>
  <p>
    <strong>Privacy:</strong> This app is hosted on DigitalOcean. For more
    information, see the
    <a
      href="https://www.digitalocean.com/legal/privacy-policy"
      target="_blank"
      rel="noopener noreferrer"
    >
      DigitalOcean Privacy Policy</a
    >.
  </p>
  <p>
    <strong>Sources:</strong> View the code for this app
    <a
      href="https://github.com/mshriner/scorecard"
      target="_blank"
      rel="noopener noreferrer"
    >
      on GitHub</a
    >.
  </p>
</div>
