.about-this-app {
  padding-inline: 8px;
  p {
    margin-bottom: 1rem;
  }
  a {
    color: #4d9ff1;
    transition: 0.25s;
    &:hover {
      color: #1565c0;
    }
  }
  li {
    mat-icon {
      vertical-align: text-bottom;
    }
  }
}
