@if (rounds().length) {
  <div class="padding-inline-8">
    <mat-expansion-panel
      class="outlined"
      [expanded]="currentUser?.filtersOpen"
      (opened)="filtersOpenChanged(true)"
      (closed)="filtersOpenChanged(false)"
    >
      <mat-expansion-panel-header class="center-text">
        Filter Results
      </mat-expansion-panel-header>
      <div class="full-width-center space-evenly padding-bottom-8">
        <button mat-stroked-button (click)="clearRoundFilters()">
          <mat-icon>filter_alt_off</mat-icon>
          Clear Filters
        </button>
      </div>

      @if (courseIdOptions().length > 1) {
        <div class="full-width-center">
          <mat-form-field class="almost-full-width-input">
            <mat-label>Filter Results By Course(s)</mat-label>
            <mat-select
              #courseStatsFilterSelect
              [formControl]="courseStatsFilter"
              multiple
              (openedChange)="!$event && reevaluateAllSelectedStatus(true)"
            >
              <mat-select-trigger>
                @if (allSelected) {
                  All Courses
                } @else {
                  {{
                    courseMap().get(courseStatsFilter.value?.[0] || '')?.name ||
                      ''
                  }}
                  @if ((courseStatsFilter.value?.length || 0) > 1) {
                    <span>
                      (+{{ (courseStatsFilter.value?.length || 0) - 1 }}
                      {{
                        courseStatsFilter.value?.length === 2
                          ? 'other'
                          : 'others'
                      }})
                    </span>
                  }
                }
              </mat-select-trigger>
              <div
                class="select-all"
                mat-ripple
                (click)="toggleAllSelection()"
                (keydown)="toggleAllSelection()"
              >
                <mat-checkbox
                  style="width: 100%"
                  [(ngModel)]="allSelected"
                  [ngModelOptions]="{ standalone: true }"
                >
                  Select All
                </mat-checkbox>
              </div>
              <mat-divider></mat-divider>
              @for (topping of courseIdOptions(); track topping) {
                <mat-option
                  [value]="topping"
                  (click)="reevaluateAllSelectedStatus()"
                  (keydown)="reevaluateAllSelectedStatus()"
                  >{{ courseMap().get(topping)?.name }}</mat-option
                >
              }
            </mat-select>
          </mat-form-field>
        </div>
      }

      <div class="full-width-center">
        <mat-form-field class="almost-full-width-input">
          <mat-label>Set Earliest Date</mat-label>
          <input
            matInput
            [matDatepickerFilter]="datePickerFilterOutAfter"
            [matDatepicker]="pickerEarly"
            [value]="currentUser?.earliestDateISO"
            (dateInput)="earliestDateChanged($event, pickerEarly)"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerEarly"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #pickerEarly>
            <mat-datepicker-actions>
              <button
                mat-stroked-button
                matDatepickerCancel
                (click)="earliestDateChanged(null, pickerEarly)"
              >
                <mat-icon>event_busy</mat-icon>
                Clear
              </button>
              <button mat-stroked-button matDatepickerApply>
                <mat-icon>event_available</mat-icon>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="full-width-center">
        <mat-form-field class="almost-full-width-input">
          <mat-label>Set Latest Date</mat-label>
          <input
            matInput
            [matDatepicker]="pickerLate"
            [matDatepickerFilter]="datePickerFilterOutBefore"
            [value]="currentUser?.latestDateISO"
            (dateInput)="latestDateChanged($event, pickerLate)"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerLate"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #pickerLate>
            <mat-datepicker-actions>
              <button
                mat-stroked-button
                matDatepickerCancel
                (click)="latestDateChanged(null, pickerEarly)"
              >
                <mat-icon>event_busy</mat-icon>
                Clear
              </button>
              <button mat-stroked-button matDatepickerApply>
                <mat-icon>event_available</mat-icon>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </div>

  <br />

  @if (filteredRounds().length) {
    <div class="full-width-center">
      <mat-card appearance="outlined" class="center-text">
        <mat-card-content>
          <span>
            Showing

            @if (filteredRounds().length === rounds().length) {
              all rounds ({{ rounds().length }})
            } @else {
              {{ filteredRounds().length }} of {{ rounds().length }} rounds
            }
          </span>
        </mat-card-content>
      </mat-card>
    </div>
    <br />
    <ng-container *ngTemplateOutlet="addActions"></ng-container>
    <br />
    <mat-tab-group
      dynamicHeight
      class="preserve-sticky-header"
      [selectedIndex]="currentUser?.homeTabIndex || 0"
      (selectedIndexChange)="homeTabIndexChanged($event)"
    >
      <mat-tab label="Rounds">
        <mat-table
          matSort
          [matSortActive]="currentUser?.sortBy || ''"
          [matSortDirection]="currentUser?.sortDescending ? 'desc' : 'asc'"
          [dataSource]="filteredRounds()"
          (matSortChange)="sortData($event)"
        >
          <ng-container matColumnDef="{{ ROUND_DATE_COL }}">
            <mat-header-cell
              *matHeaderCellDef
              class="center-text"
              mat-sort-header="{{ ROUND_DATE_COL }}"
              disableClear
            >
              Date
            </mat-header-cell>
            <mat-cell *matCellDef="let round" class="center-text">
              {{ round.dateStringISO | date }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="{{ COURSE_NAME_COL }}">
            <mat-header-cell *matHeaderCellDef class="center-text">
              Course
            </mat-header-cell>
            <mat-cell *matCellDef="let round" class="center-text">
              {{ courseMap().get(round.courseId)?.name }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="{{ ROUND_SCORE_COL }}">
            <mat-header-cell
              *matHeaderCellDef
              class="center-text"
              mat-sort-header="{{ ROUND_SCORE_COL }}"
              disableClear
            >
              Score
            </mat-header-cell>
            <mat-cell *matCellDef="let round" class="center-text">
              {{ round | totalRoundScore }} ({{
                round | scoreToPar: courseMap().get(round.courseId)
              }})
            </mat-cell>
          </ng-container>
          <mat-header-row
            *matHeaderRowDef="ROUND_TABLE_COLUMNS; sticky: true"
          ></mat-header-row>
          <mat-row
            mat-ripple
            *matRowDef="let round; columns: ROUND_TABLE_COLUMNS"
            (click)="viewRound(round.id)"
          ></mat-row>
        </mat-table>
      </mat-tab>
      <mat-tab label="Stats">
        <br />
        <div class="stat-cards">
          <div class="full-width-center space-evenly padding-inline-4">
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub>
                  <ng-container *ngTemplateOutlet="averageLabel"></ng-container>
                  9 Holes
                </sub>
                <br />
                <sup>
                  @if (
                    filteredRounds() | countValidRoundsToAverage: 9;
                    as nineCount
                  ) {
                    @if (nineCount === 1) {
                      1 Nine
                    } @else {
                      {{ nineCount }} Nines
                    }
                  } @else {
                    Unfinished
                  }
                </sup>
                <h3 class="average-result">
                  {{ filteredRounds() | averageScore: 9 }} ({{
                    filteredRounds() | averageScoreToPar: courseMap() : 9
                  }})
                </h3>
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub>
                  <ng-container *ngTemplateOutlet="averageLabel"></ng-container>
                  18 Holes
                </sub>
                <br />
                <sup>
                  @if (
                    (filteredRounds() | countValidRoundsToAverage: 18) / 2;
                    as eighteenCount
                  ) {
                    @if (eighteenCount === 1) {
                      1 Full Round
                    } @else {
                      {{ eighteenCount }} Full Rounds
                    }
                  } @else {
                    No Full Rounds
                  }
                </sup>
                <h3 class="average-result">
                  {{ filteredRounds() | averageScore: 18 }} ({{
                    filteredRounds() | averageScoreToPar: courseMap() : 18
                  }})
                </h3>
              </mat-card-content>
            </mat-card>
          </div>
          <br />
          <div class="full-width-center space-evenly padding-inline-4">
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub>
                  <ng-container *ngTemplateOutlet="averageLabel"></ng-container>
                  Putts
                </sub>
                <br />
                <sup> Per 9 Holes </sup>
                <h3 class="average-result">
                  @if (holeResultTotals().holesPlayedWithPutts) {
                    {{
                      (holeResultTotals().putts * 9) /
                        holeResultTotals().holesPlayedWithPutts
                        | number: '1.1-1'
                    }}
                  } @else {
                    --
                  }
                </h3>
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub>
                  <ng-container *ngTemplateOutlet="averageLabel"></ng-container>
                  Putts
                </sub>
                <br />
                <sup> Full Rounds </sup>
                <h3 class="average-result">
                  @if (holeResultTotals().holesPlayedWithPuttsInFullRounds) {
                    {{
                      (holeResultTotals().puttsInFullRounds * 18) /
                        holeResultTotals().holesPlayedWithPuttsInFullRounds
                        | number: '1.1-1'
                    }}
                  } @else {
                    --
                  }
                </h3>
              </mat-card-content>
            </mat-card>
          </div>
          <mat-divider class="divider-padding"></mat-divider>
          <div class="full-width-center space-evenly padding-inline-4">
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub> Total Holes Played </sub>
                <h3>{{ holeResultTotals().holesPlayed }}</h3>
              </mat-card-content>
            </mat-card>
          </div>
          <br />
          <div class="full-width-center space-evenly padding-inline-4">
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub> Eagles or Better </sub>
                <h3>{{ holeResultTotals().eaglesOrBetter }}</h3>
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub> Birdies </sub>
                <h3>{{ holeResultTotals().birdies }}</h3>
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub> Pars </sub>
                <h3>{{ holeResultTotals().pars }}</h3>
              </mat-card-content>
            </mat-card>
          </div>
          <br />
          <div class="full-width-center space-evenly padding-inline-4">
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub> Bogeys </sub>
                <h3>{{ holeResultTotals().bogeys }}</h3>
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub> Doubles or Worse </sub>
                <h3>{{ holeResultTotals().doubleBogeysOrWorse }}</h3>
              </mat-card-content>
            </mat-card>
          </div>
          <mat-divider class="divider-padding"></mat-divider>
          <div
            class="full-width-center space-evenly padding-inline-4 padding-bottom-12"
          >
            <sub> Average Strokes On: </sub>
          </div>
          <div class="full-width-center space-evenly padding-inline-4">
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub> Par 3s </sub>
                <h3>
                  @if (holeResultTotals().par3sPlayed) {
                    {{
                      holeResultTotals().totalStrokesOnPar3s /
                        holeResultTotals().par3sPlayed | number: '1.1-1'
                    }}
                  } @else {
                    --
                  }
                </h3>
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub> Par 4s </sub>
                <h3>
                  @if (holeResultTotals().par4sPlayed) {
                    {{
                      holeResultTotals().totalStrokesOnPar4s /
                        holeResultTotals().par4sPlayed | number: '1.1-1'
                    }}
                  } @else {
                    --
                  }
                </h3>
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub> Par 5s </sub>
                <h3>
                  @if (holeResultTotals().par5sPlayed) {
                    {{
                      holeResultTotals().totalStrokesOnPar5s /
                        holeResultTotals().par5sPlayed | number: '1.1-1'
                    }}
                  } @else {
                    --
                  }
                </h3>
              </mat-card-content>
            </mat-card>
          </div>
          <mat-divider class="divider-padding"></mat-divider>
          <div class="full-width-center space-evenly padding-inline-4">
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub> Greens in </sub>
                <br />
                <sup> Regulation </sup>
                <h3>
                  @if (holeResultTotals().holesPlayedWithPutts) {
                    {{
                      100 *
                        (getTrendMeasureValue(
                          holeResultTotals(),
                          'greens-in-regulation'
                        ) ?? 0) | number: '1.0-0'
                    }}%
                    <br />
                    ({{ holeResultTotals().inferredGreensInRegulation }} /
                    {{ holeResultTotals().holesPlayedWithPutts }})
                  } @else {
                    --
                  }
                </h3>
              </mat-card-content>
              <mat-card-footer class="show-trend">
                <button
                  mat-stroked-button
                  (click)="openTrendGraphDialog('greens-in-regulation')"
                >
                  <mat-icon>timeline</mat-icon>
                  Trend
                </button>
              </mat-card-footer>
            </mat-card>
            <mat-card appearance="outlined" class="center-text">
              <mat-card-title></mat-card-title>
              <mat-card-content class="padding-inline-8">
                <sub> Scrambling </sub>
                <br />
                <sup> Success </sup>
                <h3>
                  @if (holeResultTotals().inferredHolesScramblingNeeded) {
                    {{
                      100 *
                        (getTrendMeasureValue(
                          holeResultTotals(),
                          'scrambling'
                        ) ?? 0) | number: '1.0-0'
                    }}%
                    <br />
                    ({{
                      holeResultTotals().inferredHolesScramblingSuccessfully
                    }}
                    / {{ holeResultTotals().inferredHolesScramblingNeeded }})
                  } @else {
                    --
                  }
                </h3>
              </mat-card-content>
              <mat-card-footer class="show-trend">
                <button
                  mat-stroked-button
                  (click)="openTrendGraphDialog('scrambling')"
                >
                  <mat-icon>timeline</mat-icon>
                  Trend
                </button>
              </mat-card-footer>
            </mat-card>
          </div>
          <mat-divider class="divider-padding"></mat-divider>
          <div
            class="full-width-center space-evenly padding-inline-4 padding-bottom-12"
          >
            <sub> Theoretical Best Round(s): </sub>
          </div>

          <mat-table [dataSource]="coursesWithHoleResults()">
            <ng-container matColumnDef="{{ BEST_ROUND_COURSE_NAME_COL }}">
              <mat-header-cell *matHeaderCellDef class="center-text">
                Course
              </mat-header-cell>
              <mat-cell *matCellDef="let courseId" class="center-text">
                {{ courseMap().get(courseId)?.name }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="{{ ROUND_DATE_COL }}">
              <mat-header-cell *matHeaderCellDef class="center-text">
                Score
              </mat-header-cell>
              <mat-cell *matCellDef="let courseId" class="center-text">
                @let course = courseMap().get(courseId)!;
                @let round =
                  {
                    strokes:
                      holeResultTotals().theoreticalBestRound.get(courseId)!,
                    roundVariety:
                      FullRoundVarietyAtCourse[
                        course.numberOfHoles ?? CourseVariety.EIGHTEEN
                      ],
                  };
                {{ round.strokes | totalRoundScore }} ({{
                  round.strokes | scoreToPar: course
                }})
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="THEORETICAL_BEST_ROUND_COLUMNS; sticky: true"
            ></mat-header-row>
            <mat-row
              mat-ripple
              *matRowDef="let courseId; columns: THEORETICAL_BEST_ROUND_COLUMNS"
              (click)="viewBestRoundOnCourse(courseId)"
            ></mat-row>
          </mat-table>
        </div>
      </mat-tab>
    </mat-tab-group>
    <br />
  } @else {
    <div class="full-width-center">
      <div class="center-text padding-inline-16">
        No rounds of golf matching the criteria. Please try broadening your
        search.
      </div>
    </div>
    <br />
    <ng-container *ngTemplateOutlet="addActions"></ng-container>
  }
} @else {
  <div class="full-width-center">No rounds of golf recorded.</div>
  <br />
  <ng-container *ngTemplateOutlet="addActions"></ng-container>
}

<ng-template #addActions>
  <div class="full-width-center space-evenly">
    <button mat-stroked-button (click)="addNewCourse()">
      <mat-icon>add</mat-icon>
      @if (!appStateService.useSmallerButtons()) {
        New
      }
      Course
    </button>
    <button mat-stroked-button (click)="addNewRound()">
      <mat-icon>add</mat-icon>
      @if (!appStateService.useSmallerButtons()) {
        New
      }
      Round
    </button>
  </div>
</ng-template>

<ng-template #averageLabel>
  @if (appStateService.useSmallerButtons()) {
    Avg.
  } @else {
    Average
  }
</ng-template>
