@use '../../../mixins.scss' as mixins;

.select-all {
  padding: 5px 5px;
  mat-checkbox > div {
    width: 100%;
  }
}

.mat-column-roundDate {
  flex: 0 0 25%;
}

.mat-column-courseName {
  flex: 0 0 50%;
}

.mat-column-roundScore {
  flex: 0 0 25%;
}

.mat-column-courseName-best {
  flex: 0 0 75%;
}

mat-table.round-results-table {
  @include mixins.less-table-padding;
  mat-header-row {
    top: 48px !important; // height of the tab header
  }
}
