@if (statisticsService.rounds().length) {
  <div class="padding-inline-8">
    <mat-expansion-panel
      class="outlined"
      [expanded]="currentUser?.filtersOpen"
      (opened)="filtersOpenChanged(true)"
      (closed)="filtersOpenChanged(false)"
    >
      <mat-expansion-panel-header class="center-text">
        Filter Results
      </mat-expansion-panel-header>
      <div class="full-width-center space-evenly padding-bottom-8">
        <button mat-stroked-button (click)="clearRoundFilters()">
          <mat-icon>filter_alt_off</mat-icon>
          Clear Filters
        </button>
      </div>

      @if (courseIdOptions().length > 1) {
        <div class="full-width-center">
          <mat-form-field class="almost-full-width-input">
            <mat-label>Filter Results By Course(s)</mat-label>
            <mat-select
              #courseStatsFilterSelect
              [formControl]="courseStatsFilter"
              multiple
              (openedChange)="!$event && reevaluateAllSelectedStatus(true)"
            >
              <mat-select-trigger>
                @if (allSelected) {
                  All Courses
                } @else {
                  {{
                    statisticsService
                      .courseMap()
                      .get(courseStatsFilter.value?.[0] || '')?.name || ''
                  }}
                  @if ((courseStatsFilter.value?.length || 0) > 1) {
                    <span>
                      (+{{ (courseStatsFilter.value?.length || 0) - 1 }}
                      {{
                        courseStatsFilter.value?.length === 2
                          ? 'other'
                          : 'others'
                      }})
                    </span>
                  }
                }
              </mat-select-trigger>
              <div
                class="select-all"
                mat-ripple
                (click)="toggleAllSelection()"
                (keydown)="toggleAllSelection()"
              >
                <mat-checkbox
                  style="width: 100%"
                  [(ngModel)]="allSelected"
                  [ngModelOptions]="{ standalone: true }"
                >
                  Select All
                </mat-checkbox>
              </div>
              <mat-divider />
              @for (topping of courseIdOptions(); track topping) {
                <mat-option
                  [value]="topping"
                  (click)="reevaluateAllSelectedStatus()"
                  (keydown)="reevaluateAllSelectedStatus()"
                  >{{
                    statisticsService.courseMap().get(topping)?.name
                  }}</mat-option
                >
              }
            </mat-select>
          </mat-form-field>
        </div>
      }

      <div class="full-width-center">
        <mat-form-field class="almost-full-width-input">
          <mat-label>Set Earliest Date</mat-label>
          <input
            matInput
            [matDatepickerFilter]="datePickerFilterOutAfter"
            [matDatepicker]="pickerEarly"
            [value]="currentUser?.earliestDateISO"
            (dateInput)="earliestDateChanged($event, pickerEarly)"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerEarly" />
          <mat-datepicker touchUi #pickerEarly>
            <mat-datepicker-actions>
              <button
                mat-stroked-button
                matDatepickerCancel
                (click)="earliestDateChanged(null, pickerEarly)"
              >
                <mat-icon>event_busy</mat-icon>
                Clear
              </button>
              <button mat-stroked-button matDatepickerApply>
                <mat-icon>event_available</mat-icon>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="full-width-center">
        <mat-form-field class="almost-full-width-input">
          <mat-label>Set Latest Date</mat-label>
          <input
            matInput
            [matDatepicker]="pickerLate"
            [matDatepickerFilter]="datePickerFilterOutBefore"
            [value]="currentUser?.latestDateISO"
            (dateInput)="latestDateChanged($event, pickerLate)"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerLate" />
          <mat-datepicker touchUi #pickerLate>
            <mat-datepicker-actions>
              <button
                mat-stroked-button
                matDatepickerCancel
                (click)="latestDateChanged(null, pickerEarly)"
              >
                <mat-icon>event_busy</mat-icon>
                Clear
              </button>
              <button mat-stroked-button matDatepickerApply>
                <mat-icon>event_available</mat-icon>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </div>

  <br />

  @if (statisticsService.filteredRounds().length) {
    <div class="full-width-center">
      <mat-card appearance="outlined" class="center-text">
        <mat-card-content>
          <span>
            Showing

            @if (
              statisticsService.filteredRounds().length ===
              statisticsService.rounds().length
            ) {
              all rounds ({{ statisticsService.rounds().length }})
            } @else {
              {{ statisticsService.filteredRounds().length }} of
              {{ statisticsService.rounds().length }} rounds
            }
          </span>
        </mat-card-content>
      </mat-card>
    </div>
    <br />
    <ng-container *ngTemplateOutlet="addActions" />
    <br />
    <mat-tab-group
      dynamicHeight
      class="preserve-sticky-header"
      [selectedIndex]="currentUser?.homeTabIndex || 0"
      (selectedIndexChange)="homeTabIndexChanged($event)"
    >
      <mat-tab label="Rounds">
        <mat-table
          class="round-results-table"
          matSort
          [matSortActive]="currentUser?.sortBy || ''"
          [matSortDirection]="currentUser?.sortDescending ? 'desc' : 'asc'"
          [dataSource]="statisticsService.filteredRounds()"
          (matSortChange)="sortData($event)"
        >
          <ng-container matColumnDef="{{ ROUND_DATE_COL }}">
            <mat-header-cell
              *matHeaderCellDef
              class="center-text"
              mat-sort-header="{{ ROUND_DATE_COL }}"
              disableClear
            >
              Date
            </mat-header-cell>
            <mat-cell *matCellDef="let round" class="center-text">
              {{ round.dateStringISO | date }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="{{ COURSE_NAME_COL }}">
            <mat-header-cell *matHeaderCellDef class="center-text">
              Course
            </mat-header-cell>
            <mat-cell *matCellDef="let round" class="center-text">
              {{ statisticsService.courseMap().get(round.courseId)?.name }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="{{ ROUND_SCORE_COL }}">
            <mat-header-cell
              *matHeaderCellDef
              class="center-text"
              mat-sort-header="{{ ROUND_SCORE_COL }}"
              disableClear
            >
              Score
            </mat-header-cell>
            <mat-cell *matCellDef="let round" class="center-text">
              {{ round | totalRoundScore }} ({{
                round
                  | scoreToPar
                    : statisticsService.courseMap().get(round.courseId)
              }})
            </mat-cell>
          </ng-container>
          <mat-header-row
            *matHeaderRowDef="ROUND_TABLE_COLUMNS; sticky: true"
          />
          <mat-row
            mat-ripple
            *matRowDef="let round; columns: ROUND_TABLE_COLUMNS"
            (click)="viewRound(round.id)"
          />
        </mat-table>
      </mat-tab>
      <mat-tab label="Stats">
        <br />
        <div class="stat-cards">
          <app-stats
            [filteredRounds]="statisticsService.filteredRounds()"
            [courseMap]="statisticsService.courseMap()"
            [holeResultTotals]="statisticsService.holeResultTotals()"
            mode="homepage"
          />

          <mat-divider class="divider-padding" />
          <div
            class="full-width-center space-evenly padding-inline-4 padding-bottom-12"
          >
            <sub> Theoretical Best Round(s): </sub>
          </div>

          <mat-table
            class="round-results-table"
            [dataSource]="statisticsService.coursesWithHoleResults()"
          >
            <ng-container matColumnDef="{{ BEST_ROUND_COURSE_NAME_COL }}">
              <mat-header-cell *matHeaderCellDef class="center-text">
                Course
              </mat-header-cell>
              <mat-cell *matCellDef="let courseId" class="center-text">
                {{ statisticsService.courseMap().get(courseId)?.name }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="{{ ROUND_DATE_COL }}">
              <mat-header-cell *matHeaderCellDef class="center-text">
                Score
              </mat-header-cell>
              <mat-cell *matCellDef="let courseId" class="center-text">
                @let course = statisticsService.courseMap().get(courseId)!;
                @let round =
                  {
                    strokes: statisticsService
                      .holeResultTotals()
                      .theoreticalBestRound.get(courseId)!,
                    roundVariety:
                      FullRoundVarietyAtCourse[
                        course.numberOfHoles ?? CourseVariety.EIGHTEEN
                      ],
                  };
                {{ round.strokes | totalRoundScore }} ({{
                  round.strokes | scoreToPar: course
                }})
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="THEORETICAL_BEST_ROUND_COLUMNS; sticky: true"
            />
            <mat-row
              mat-ripple
              *matRowDef="let courseId; columns: THEORETICAL_BEST_ROUND_COLUMNS"
              (click)="viewBestRoundOnCourse(courseId)"
            />
          </mat-table>
        </div>
      </mat-tab>
    </mat-tab-group>
    <br />
  } @else {
    <div class="full-width-center">
      <div class="center-text padding-inline-16">
        No rounds of golf matching the criteria. Please try broadening your
        search.
      </div>
    </div>
    <br />
    <ng-container *ngTemplateOutlet="addActions" />
  }
} @else {
  <div class="full-width-center">No rounds of golf recorded.</div>
  <br />
  <ng-container *ngTemplateOutlet="addActions" />
}

<ng-template #addActions>
  <div class="full-width-center space-evenly">
    <button mat-stroked-button (click)="addNewCourse()">
      <mat-icon>add</mat-icon>
      @if (!appStateService.useSmallerButtons()) {
        New
      }
      Course
    </button>
    <button mat-stroked-button (click)="addNewRound()">
      <mat-icon>add</mat-icon>
      @if (!appStateService.useSmallerButtons()) {
        New
      }
      Round
    </button>
  </div>
</ng-template>
