@if (courses().length) {
  <ng-container *ngTemplateOutlet="addActions" />

  <br />

  <mat-table [dataSource]="courses()">
    <ng-container matColumnDef="{{ COURSE_NAME_COL }}">
      <mat-header-cell *matHeaderCellDef class="center-text">
        Course Name
      </mat-header-cell>
      <mat-cell *matCellDef="let course" class="center-text">
        {{ course.name }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="{{ COURSE_PAR_COL }}">
      <mat-header-cell *matHeaderCellDef class="center-text">
        Par
      </mat-header-cell>
      <mat-cell *matCellDef="let course" class="center-text">
        {{ course | par }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="COURSE_TABLE_COLUMNS; sticky: true" />
    <mat-row
      mat-ripple
      *matRowDef="let course; columns: COURSE_TABLE_COLUMNS"
      (click)="viewCourse(course.id)"
    />
  </mat-table>
} @else {
  <div class="full-width-center">No golf courses created.</div>
  <br />
  <ng-container *ngTemplateOutlet="addActions" />
}

<ng-template #addActions>
  <div class="full-width-center space-evenly padding-bottom-8">
    <button mat-stroked-button (click)="addNewCourse()">
      <mat-icon>add</mat-icon>
      @if (!appStateService.useSmallerButtons()) {
        New
      }
      Course
    </button>
    <button mat-stroked-button (click)="addNewRound()">
      <mat-icon>add</mat-icon>
      @if (!appStateService.useSmallerButtons()) {
        New
      }
      Round
    </button>
  </div>
</ng-template>
