@if (courses().length) {
  <ng-container *ngTemplateOutlet="addActions"></ng-container>

  <br />

  <mat-table [dataSource]="courses()">
    <ng-container matColumnDef="{{ COURSE_NAME_COL }}">
      <mat-header-cell *matHeaderCellDef class="center-text">
        Course Name
      </mat-header-cell>
      <mat-cell *matCellDef="let course" class="center-text">
        {{ course.name }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="{{ COURSE_PAR_COL }}">
      <mat-header-cell *matHeaderCellDef class="center-text">
        Par
      </mat-header-cell>
      <mat-cell *matCellDef="let course" class="center-text">
        {{ course | par }}
      </mat-cell>
    </ng-container>
    <mat-header-row
      *matHeaderRowDef="COURSE_TABLE_COLUMNS; sticky: true"
    ></mat-header-row>
    <mat-row
      mat-ripple
      *matRowDef="let course; columns: COURSE_TABLE_COLUMNS"
      (click)="viewCourse(course.id)"
    ></mat-row>
  </mat-table>
} @else {
  <div class="full-width-center">No golf courses created</div>
  <br />
  <ng-container *ngTemplateOutlet="addActions"></ng-container>
}

<ng-template #addActions>
  <div class="full-width-center space-evenly padding-bottom-8">
    <button mat-stroked-button (click)="addNewCourse()">
      <mat-icon>add</mat-icon>
      @if (!appStateService.useSmallerButtons()) {
        New
      }
      Course
    </button>
    @if (courses().length) {
      <button mat-stroked-button (click)="addNewRound()">
        <mat-icon>add</mat-icon>
        @if (!appStateService.useSmallerButtons()) {
          New
        }
        Round
      </button>
    }
  </div>
  <div class="full-width-center space-evenly">
    <button mat-stroked-button (click)="fileInput.click()">
      <mat-icon>input</mat-icon>
      Import Course
    </button>
    <input
      hidden
      (change)="onFileSelected(fileInput)"
      #fileInput
      type="file"
      id="file"
      accept="application/json"
    />
  </div>
</ng-template>
