<div class="full-width-center space-evenly">
  <button mat-stroked-button (click)="addNewCourse()">
    <mat-icon>add</mat-icon>
    @if(!smallerButtons){ New } Course
  </button>
  @if (courses().length) {
  <button mat-stroked-button (click)="addNewRound()">
    <mat-icon>add</mat-icon>
    @if(!smallerButtons){ New } Round
  </button>
  }
</div>
<br />
@if(courses().length) {
<table mat-table [dataSource]="courses()">
  <ng-container matColumnDef="{{ COURSE_NAME_COL }}">
    <th mat-header-cell *matHeaderCellDef class="center-text">Course Name</th>
    <td mat-cell *matCellDef="let course" matRipple class="center-text">
      {{ course.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="{{ COURSE_PAR_COL }}">
    <th mat-header-cell *matHeaderCellDef class="center-text">Par</th>
    <td mat-cell *matCellDef="let course" matRipple class="center-text">
      {{ course | par }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="COURSE_TABLE_COLUMNS; sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let course; columns: COURSE_TABLE_COLUMNS"
    (click)="viewCourse(course.id)"
  ></tr>
</table>
} @else {
<div class="full-width-center">No golf courses created</div>
}
