<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  {{ data.message }}
</mat-dialog-content>
<mat-dialog-actions class="no-padding">
  <button mat-stroked-button (click)="onNoClick()" cdkFocusInitial>
    @if (data.nonConfirmButtonIcon) {
      <mat-icon>{{ data.nonConfirmButtonIcon }}</mat-icon>
    }
    {{ data.nonConfirmButtonText }}
  </button>
  <button mat-stroked-button (click)="clear()">
    @if (data.confirmButtonIcon) {
      <mat-icon>{{ data.confirmButtonIcon }}</mat-icon>
    }
    {{ data.confirmButtonText }}
  </button>
</mat-dialog-actions>
