<mat-sidenav-container class="nav-container">
  <mat-sidenav #sidenav class="sidenav padding-inline-8">
    @if (appStateService.currentUser) {
    <div style="margin-bottom: 16px">
      Profile: {{ appStateService.currentUser.name }}
    </div>
    }

    <mat-divider></mat-divider>

    <h6>Navigation</h6>

    @if (!isOnHomeScreen) {
    <div style="display: block">
      <div mat-ripple (click)="goToHome()" class="flex-menu-option">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </div>
    </div>
    } @if (!isOnCoursesScreen) {
    <div style="display: block">
      <div mat-ripple (click)="viewCourses()" class="flex-menu-option">
        <mat-icon>golf_course</mat-icon>
        <span>Courses</span>
      </div>
    </div>
    }

    <mat-divider></mat-divider>

    <h6>Actions</h6>

    <div style="display: block">
      <div mat-ripple (click)="addNewCourse()" class="flex-menu-option">
        <mat-icon>add</mat-icon>
        <span> @if(!appStateService.useSmallerButtons()){ New } Course </span>
      </div>
    </div>
    @if (appStateService.currentUser?.courseIds?.length) {
    <div style="display: block">
      <div mat-ripple (click)="addNewRound()" class="flex-menu-option">
        <mat-icon>add</mat-icon>
        <span> @if(!appStateService.useSmallerButtons()){ New } Round </span>
      </div>
    </div>
    }
    <div class="bottom-options">
      <div style="display: block">
        <div mat-ripple (click)="checkForUpdates()" class="flex-menu-option">
          @if (showSpinner()) {
          <mat-icon class="rotate">refresh</mat-icon>
          } @else {
          <mat-icon>refresh</mat-icon>
          }
          <span>Check for Updates</span>
        </div>
      </div>
      <div style="display: block">
        <div mat-ripple (click)="logout()" class="flex-menu-option">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (appStateService.currentUser && !isOnWipeDataScreen) {
      @if(isOnProfilesScreen || isOnHomeScreen || isOnCoursesScreen) {
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      } @else {
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      } }
      <span class="title">
        {{ appStateService.pageTitle() }}
      </span>
    </mat-toolbar>
    <div class="under-toolbar"></div>
    <div class="main-content">
      <div class="main-content-padding"></div>
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
