<h2 mat-dialog-title>Editing {{ originalProfileName }}</h2>
<mat-dialog-content>
  <mat-form-field
    class="hundred-percent-input"
    (keyup.enter)="handleEnterKey()"
  >
    <mat-label>Profile Name</mat-label>
    <input matInput [(ngModel)]="profileName" cdkFocusInitial />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="no-padding" align="center">
  <button mat-stroked-button (click)="onNoClick()">
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
  <button
    mat-stroked-button
    [disabled]="!profileName()?.length || profileName() === originalProfileName"
    [mat-dialog-close]="profileName()"
  >
    <mat-icon>save_as</mat-icon>
    Update
  </button>
</mat-dialog-actions>
