<div class="full-width-center">
  <mat-card appearance="outlined" class="center-text">
    <mat-card-content>
      @if (appStateService.currentUser) {
        Welcome, {{ appStateService.currentUser.name }}!
      } @else {
        Welcome to the {{ APP_NAME }} app!
      }
    </mat-card-content>
  </mat-card>
</div>

@if (profiles().length) {
  <mat-table [dataSource]="profiles()" class="profile-table">
    <ng-container matColumnDef="header">
      <mat-header-cell
        class="center-text"
        [attr.colspan]="PROFILE_TABLE_COLUMNS.length"
        *matHeaderCellDef
      >
        Please select a profile below.
      </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-cell *matCellDef="let user" class="thin">
        <button
          mat-icon-button
          aria-label="Edit profile"
          (click)="editProfile(user, $event)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-cell *matCellDef="let user"> &nbsp; {{ user.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-cell *matCellDef="let user" class="thin">
        <button
          mat-icon-button
          aria-label="Remove profile"
          (click)="deleteProfile(user.id, $event)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="['header']; sticky: true"
    ></mat-header-row>
    <mat-row
      mat-ripple
      (click)="selectProfile(user)"
      *matRowDef="let user; columns: PROFILE_TABLE_COLUMNS"
    ></mat-row>
  </mat-table>
} @else {
  <br />
  <div class="full-width-center">No profiles found.</div>
  <div class="full-width-center">Create a profile to get started.</div>
}
<br />
<div class="full-width-center">
  <button mat-stroked-button (click)="addNewProfile()">
    <mat-icon>add</mat-icon>
    Add Profile
  </button>
</div>
<div class="full-width-center">
  <br style="margin-top: 32px" />
  Advanced Options
</div>
<mat-divider></mat-divider>
<br />
<div class="full-width-center">
  <button mat-stroked-button (click)="clearAllData()">
    <mat-icon>delete_forever</mat-icon>
    {{ CLEAR_ALL.title }}
  </button>
</div>
<br />
