<h2 mat-dialog-title>{{ data.dialogTitle }}</h2>
<mat-dialog-content>
  <pre class="preformatted-content">{{ data.content }}</pre>
</mat-dialog-content>
<mat-dialog-actions class="no-padding actions-center">
  <a [href]="downloadHref" [download]="downloadName">
    <button mat-stroked-button>
      <mat-icon>download</mat-icon>
      Download
    </button>
  </a>
  <button mat-stroked-button (click)="closeClicked()" cdkFocusInitial>
    <mat-icon>cancel</mat-icon>
    Close
  </button>
</mat-dialog-actions>
