/* You can add global styles to this file, and also import other style files */
@import "@angular/material";

html,
body {
  height: 100%;
  overscroll-behavior: none;
  -webkit-text-size-adjust: none;
  font-size-adjust: none;
  width: 100vw;
  zoom: 1;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(
    --mat-toolbar-container-background-color,
    var(--mat-app-surface)
  );
  color: var(--mat-app-text-color);
}

.full-width-center {
  width: 100%;
  display: grid;
  justify-content: center;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;

  &.padding-inline-4 {
    div,
    mat-card {
      margin-inline: 4px;
    }
  }
}

.hole-par-adjustment {
  text-wrap: nowrap;
  padding: 4px;
  display: flex;
  justify-content: center;
}

.par-value-box {
  border-radius: 8px;
  border: 1px gray solid;
  width: 40px;
  align-items: center;
  justify-content: center;
  display: grid;
}

@mixin text-centering {
  text-align: center;
}

th.center-text,
td.center-text,
mat-card,
div {
  &.center-text {
    @include text-centering;
  }
}

td.border-top {
  border-top: solid 0.8px;
  border-top-color: var(
    --mat-table-row-item-outline-color,
    var(--mat-app-outline, rgba(0, 0, 0, 0.12))
  );
}

td.thick-bottom-border {
  border-bottom-width: 3px;
}

td.thick-top-border {
  border-top-width: 3px;
}

mat-form-field.almost-full-width-input {
  width: 90vw;
  max-width: 500px;
}

mat-form-field.hundred-percent-input {
  width: 100%;
  max-width: 500px;
}

mat-dialog-actions.no-padding {
  padding-inline: 0;
}

.padding-inline-8 {
  padding-inline: 8px !important;
}

.padding-inline-16 {
  padding-inline: 16px !important;
}

.padding-bottom-8 {
  padding-bottom: 8px;
}

.no-margin {
  margin: 0 !important;
}

::-webkit-scrollbar {
  display: none;
}

// hacky way to get select all option to work in mat-select
.select-all {
  padding: 5px 5px;
  mat-checkbox > div {
    width: 100%;
    label {
      width: 100%;
    }
  }
}
