/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$score-graphic-size: 24px;
$background-color: var(--mat-sys-background);
$text-color: var(--mat-sys-on-surface);

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
    )
  );
}

html,
body {
  &.system-preference-theme {
    color-scheme: light dark;
  }
  &.override-to-dark-theme {
    color-scheme: dark;
  }
  &.override-to-light-theme {
    color-scheme: light;
  }
  height: 100%;
  overscroll-behavior: none;
  --mat-toolbar-mobile-height: 56px;
  -webkit-text-size-adjust: none;
  font-size-adjust: none;
  width: 100vw;
  zoom: 1;

  h3 {
    margin: 0;
  }

  @include mat.theme(
    (
      color: mat.$cyan-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: $background-color;
}

.full-width-center {
  width: 100%;
  display: grid;
  justify-content: center;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;

  &.padding-inline-4 {
    div,
    mat-card {
      margin-inline: 4px;
    }
  }
}

.hole-par-adjustment {
  text-wrap: nowrap;
  padding: 4px;
  display: flex;
  justify-content: center;
}

@mixin sticky-overflow {
  overflow: inherit !important;
}

.preserve-sticky-header {
  mat-tab-header {
    position: sticky !important;
    user-select: none;
    top: 0;
    background: $background-color;
    z-index: 2 !important;
  }
  div.mat-mdc-tab-body-wrapper {
    @include sticky-overflow;
    mat-tab-body:has(mat-table) {
      @include sticky-overflow;
      div {
        @include sticky-overflow;
      }
    }
  }
}

mat-expansion-panel {
  border: 1px solid var(--mat-sys-outline);
}

th,
mat-header-cell,
mat-expansion-panel-header {
  user-select: none;
}

@mixin text-centering {
  text-align: center;
}

th.center-text,
td.center-text,
mat-card,
div {
  &.center-text {
    @include text-centering;
  }
}

td.border-top {
  border-top: solid 0.8px;
  border-top-color: (--mat-sys-outline);
}

td.thick-bottom-border {
  border-bottom-width: 2px;
}

td.thick-top-border {
  border-top-width: 2px;
}

mat-form-field.almost-full-width-input {
  width: 90vw;
  max-width: 500px;
}

mat-form-field.hundred-percent-input {
  width: 100%;
  max-width: 500px;
}

mat-dialog-actions {
  &.no-padding {
    padding-inline: 0;
  }
  &.actions-center {
    justify-content: center;
  }
}

.padding-inline-8 {
  padding-inline: 8px !important;
}

.padding-inline-16 {
  padding-inline: 16px !important;
}

.padding-bottom-8 {
  padding-bottom: 8px;
}

.padding-bottom-12 {
  padding-bottom: 12px;
}

.padding-top-16 {
  padding-top: 16px;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.no-margin {
  margin: 0 !important;
}

.no-wrap {
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

// hacky way to get select all option to work in mat-select
.select-all {
  padding: 5px 5px;

  mat-checkbox > div {
    width: 100%;

    label {
      width: 100%;
    }
  }
}

@mixin smooth-transition {
  transition: 0.2s;
}

.par-value-box {
  border-radius: 8px;
  border: 1px gray solid;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: var(--mat-sys-surface-variant);
  user-select: none;
  cursor: pointer;

  &.highlighted {
    transition: 0 !important;
    animation: highlighted-pulse 1s infinite alternate;
  }
  @keyframes highlighted-pulse {
    from {
      background-color: var(--mat-sys-surface-variant);
    }
    to {
      background-color: orange;
    }
  }

  div {
    @include smooth-transition;
    &.score-graphic {
      display: grid;
      border-width: 6px;
      border-radius: 25%;
      border-style: solid;
      border-color: rgba($color: #000000, $alpha: 0);
      width: $score-graphic-size;
      height: $score-graphic-size;
      line-height: normal;
      align-content: center;
      justify-content: center;
      &.double-bogey-or-worse {
        border-radius: 0;
        border: 6px double $text-color;
      }
      &.bogey-score {
        border-radius: 0;
        border: 2px solid $text-color;
      }
      &.birdie-score {
        border-radius: 50%;
        border: 2px solid $text-color;
      }
      &.eagle-or-better {
        border-radius: 50%;
        border: 6px double $text-color;
      }
    }
  }
}
